@import '/_layouts/15/Prexens/Hoozin/LESS/Bootstrap/mixins.less';
@import '/_layouts/15/EucouncilRed/Hoozin/LESS/Font.less';

#welcomeProcessWrapper.welcome #welcomeProcessContent .logoWelcomeProcess {
	width: 280px !important;
}

/*body {
  background: url('/_layouts/15/Images/EucouncilRed/Hoozin/mainBackground.jpg?v=1002');
  background-repeat: repeat;
}*/


/*iCONS MAIN*/
#mainFunctions [class*="Icon"] {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png);
}
#mainFunctions .homeIcon {
    margin-top: 1px;
    top: 3px;    
    height: 23px;    
}
#mainFunctions .postIcon {
    top: 3px;
    height: 22px;
}
#mainFunctions .findPeopleIcon {
    top: 3px;
    height: 22px;
}
#mainFunctions .navBoxIcon {
    top: 3px;
}

#mainNavWrapper .localGlobalNavigation li.expanded>.openCloseButton {
    background-image: url(/_layouts/15/images/Prexens/Hoozin/sprites/bl-hoozin-sprite.png);
}
#mainNavWrapper .localGlobalNavigation li.collapsed>.openCloseButton {
    background-image: url(/_layouts/15/images/Prexens/Hoozin/sprites/bl-hoozin-sprite.png);
}
#mainNavWrapper #mainNav #headerMainMenuWrapper #headerMainMenu .closeButton {

}

/*Sticky*/
.aFeedWrapper.sticky {
    background-color: #f4f0f0;
    border: 1px dotted @hoozinMainColor;
    border-radius: 6px;
}
#contentWrapper #contentZone #subContent .stickyWrapper #stickyContent {
    border: 1px dotted @hoozinMainColor;
    border-radius: 6px;
}
/*iCONS left menu*/
#liMy a, #mainNavWrapper #currentNav li[data-id="liMy"] > a {
    background-image:url("/_layouts/15/images/EucouncilRed/Hoozin/ico-my.png?v=1002") !important;
}
#liActivity a, #mainNavWrapper #currentNav li[data-id="liActivity"] > a {
    background-image:url("/_layouts/15/images/EucouncilRed/Hoozin/ico-my.png?v=1002") !important;
}
#liMyWorkItems a, #mainNavWrapper #currentNav li[data-id="liMyWorkItems"] > a {
    background-image:url("/_layouts/15/images/EucouncilRed/Hoozin/ico-MyWorkItems.png?v=1002") !important;
}

#liMyDiscussions a, #mainNavWrapper #currentNav li[data-id="liMyDiscussions"] > a {
    background-image:url("/_layouts/15/images/EucouncilRed/Hoozin/ico-MyDiscussions.png?v=1002") !important;
}
#liMyProfile a, #mainNavWrapper #currentNav li[data-id="liMyProfile"] > a {
    background-image:url("/_layouts/15/images/EucouncilRed/Hoozin/ico-MyProfile.png?v=1002") !important;
}

/*Hoozn loaders*/
#postHeaderZone #postButtonWrapper #postButton.sending i {
  background-image: url('/_layouts/15/images/EucouncilRed/Hoozin/loaders/hoozinLoader-20-white.gif') !important;
  
}

/*HEADER*/
#headerWrapper {
	//background: url('/_layouts/15/Images/EucouncilRed/Hoozin/headerBackground.jpg');
    background-color:@white;
    border-bottom: 1px solid @hoozinMainColor;
	//background-position:30% center;
}
#headerWrapper header #hoozinLogo {
    left:20px;
}
#searchFormWrapper #searchForm  {
    background-color: #f4f0f0;
}
#searchFormWrapper #searchForm .searchInput {
    
    color:@hoozinMainColor;
}
#headerWrapper header #myManager #userInfos {
    border: 1px solid @hoozinMainColor;
}

#headerWrapper header #myManager > a {
    float: right;
    /* display: inline-block; */
    /* float: none; */
    width: 43px;
    height: 43px;
    top: 4px;
    position: relative;
}
#headerWrapper header #myManager > a img {
    border-radius: 80px;
    vertical-align: top;
    border: 2px solid @hoozinMainColor;
}


#masterLoader #masterLoadingLogo {
	background-image: url("/_layouts/15/images/EucouncilRed/hoozin/master-loader-Eucouncil.png");
	
	.opacity(100);
}

#masterLoader #masterLoadingLogo p {
	color:@hoozinMainColor;
}

#headerWrapper header #myManager #userInfos #myWindowWrapper #myWindow #languagesList .dropdown-toggle {
    border-radius: 5px;
}
#headerWrapper header #myManager #userInfos #myWindowWrapper #myWindow #languagesList .dropdown-menu li a:hover {
    background-color: @hoozinMainColor;   
    color: @white;
}

/*#mainNavWrapper #currentNav .subNavUl li a:hover {
    color: #eeeaea;
}
#mainNavWrapper .localGlobalNavigation ul li a:hover {
  color: #eeeaea;
}*/

/*Sticky Radius, BTNS, Community radius*/
.aFeedWrapper .feedColumn {
    border-radius: 6px;
}
.aFeedWrapper .feedColumn .feedBlock {
    border-radius: 6px;
}
#contentWrapper #contentZone #subContent .noElem {
    border-radius: 6px;
}
#userProfileWrapper .infosUserProfile .infosUserProfileElem {
    border-radius: 6px;
}
.aDashboarWrapper {
    border-radius: 6px;
}
#noDemands {
    border-radius: 6px;
}
#contentZone #postHeaderZone #postBox {
    border-radius: 6px;
}
.btn {
    border-radius: 6px;
}
.btn-primary {
    border-radius: 6px;
}
.btn-small {
    border-radius: 6px;
}
.infosBloc.actionsWrapper .btn {
    border-radius: 6px;
}
.aFeedWrapper .feedColumn .feedBlock .aFeed a {
    border-radius: 6px;
}
a.btn, a:link.btn, a:visited.btn {
    border-radius: 6px;
}
.aFeedWrapper .feedColumn .commentZone .addCommentWrapper .addCommentZone {
    border-radius: 6px;
}
.listFilter {
    border-radius: 6px;
}
#contentZone #postHeaderZone #postAudiencesWrapper {
    border-radius: 6px;
}
#contentZone #postHeaderZone #postTagsWrapper {
    border-radius: 6px;
}
.listWrapper.gridView .listElem {
    border-radius: 6px;
}
.listWrapper.gridView .listElem .avatarListElem {
    border-radius: 6px;
}
.listWrapper .listElem .avatarListElem {
    border-radius: 6px;
}
.listWrapper .listElem {
    border-radius: 6px;
}
.addElemImg {
    border-radius: 6px;
}
.contentImgWrapper {
    border-radius: 6px;
}
.contentLinkWrapper {
    border-radius: 6px;
}
.contentDocWrapper {
    border-radius: 6px;
}
.contentVideoWrapper {
    border-radius: 6px;
}
#postHeaderZone .pluginPreview {
    border-radius: 6px;
}
.kpiWrapper {
    border-radius: 6px;
}
.DocumentsManagementApp .imgWrapper {
    border-radius: 6px;
}

/*Norification*/
#headerWrapper header #myManager .notificationsZone.hasNotifications {
    background-color: @hoozinMainColor;
    border: 2px solid @white;
    border-radius: 80px;
    height: 43px;
    width: 43px;
    margin-top: 4px;
    margin-left: 10px;

    .notifImage {
            background-image: url(/_layouts/15/images/Prexens/Hoozin/sprites/wh-hoozin-sprite.png?v=1002);
    }
}

#headerWrapper header #myManager .notificationsZone {
    margin-top: 5px;
}
#headerWrapper header #myManager .notificationsZone a {
    top: -5px;
    width: 100%;
    height: 100%;
        font-size: 14px;
}
#headerWrapper header #myManager .notificationsZone a .notifNumber {
    margin-left:2px !important;
}

#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterTitle {
   border-bottom: 1px solid @hoozinMainColor;
}


#notificationCenterWrapper .notificationDetailWrapper .notificationDetailTitle {
    border-bottom: 1px solid @hoozinMainColor;
}

/*#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList {
    background-image: url(/_layouts/15/images/EucouncilRed/hoozin/coffeeBackground.png?v=1002);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding:5px;
}*/
/*Notification icons*/
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category {
    font-size: 10px;
    font-weight: bold;
    color: @hoozinMainColor;
    border-top: none; 
    border-bottom: none; 
    background-color: @white;
    border-radius: 7px;
        margin-bottom: 1px;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category .icon {
    opacity:1;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category .title {
    opacity:1;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category .closeCategory {
    opacity:1;
}

#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList #myNotifications, #notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList #communityNotifications {
    width: auto;
    border-radius: 7px;
    margin: 3px 0;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper .mainNotification .avatar {    
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper .attachedNotification .avatar {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}

#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category#myCategory .icon {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category#communityCategory .icon {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .category .closeCategory {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}

#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper {
    border-radius:7px !important;
    margin-bottom: 3px;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper.unread {
    border-radius:7px !important;
    margin-bottom: 3px;
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper.unread a:hover {
    color: rgba(89, 12, 19, 0.85);

}

#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper.unread .iconNotification[class*="Icon"] {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper.selected .mainNotification .iconNotification[class*="Icon"], #notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper.selected .attachedNotification .iconNotification[class*="Icon"] {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper .mainNotification .iconNotification[class*="Icon"] {
     background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterList .aNotificationWrapper .attachedNotification .iconNotification[class*="Icon"] {
    background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002);
}
#notificationCenterWrapper .notificationCenterListWrapper .notificationCenterTitle .notifName {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 18px;
}
#notificationCenterWrapper .notificationDetailWrapper .notificationDetailTitle h2 span {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 18px;
}
/*Notification details*/
.aFeedWrapper .userPic {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
.aFeedWrapper .feedColumn .feedBlock .aFeed .userPicInPost {
    border-radius: 120px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
.aFeedWrapper .feedColumn .commentZone .aCommentWrapper .userPicComment {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
.aFeedWrapper .feedColumn .commentZone .addCommentWrapper .userPicAddComment {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
.aFeedWrapper .communityPic {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
.toperDiv .avatar {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
.infosBloc .infosBlocContent img {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}
#popHoverWindowsWrapper #popHoverWindows.navigationBoxSize #navigationBoxWrapper #navigationBox .btNav img {
     border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px
}
#userProfileWrapper .headerUserProfile .avatarUserProfile img {
    border-radius: 80px;    
    padding: 1px
}

#communityNav a #communityPicNav {
    border-radius: 80px;
    border: 1px solid @hoozinMainColor;
    padding: 1px;
}

#communityBackgroundWrapper #shadowWrapper #ctl00_CommunityAvatar {
    border-radius: 120px;
    border:none;
}
.appCalendar #Calendar {
    background-color:@white;
}
.fc-state-down, .fc-state-active {
    color: @white !important;
}
.appCarteo .carteoItem.newCarteoItemButton {
    color: @white !important;
}
/*search results*/
#searchContext .infosBloc .infosBlocContent .searchedKeyword {
    color: @white !important;
}
#refinementZone>ul>li ul li.ms-searchref-selected a {
    color: @white !important;
}



/* MEDIA QUERIES */

/*
320
360
480
640
*/

/* SMALL RESOLUTIONS */

@media screen and (max-width: 767px) {
	#mainNavWrapper #mainNav #headerMainMenuWrapper #headerMainMenu {
        background-color: @white; 
    border-bottom: 1px solid @hoozinMainColor;
    }
    #mainNavWrapper #mainNav #headerMainMenuWrapper #headerMainMenu .closeButton {
        background-image:url('/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite-x2.png');
    }

	#communityBreadcrumb {
        background-color: rgba(28, 40, 89, 0.5);
        color:@white;
        a {
        color:@white;
        }
    }
   
     /*Norification*/
	#headerWrapper header #showMenuSmartphoneWrapper {
        border-radius: 80px;
        width: 38px;
        height: 38px;
	}
    #headerWrapper header #myManager .notificationsZone a .notifNumber {
        font-size: 12px;        
    }
}



/* ############### */
/* XXXS
/* IPHONE PORTRAIT
/* ############### */

@media screen and (max-width: 359px)  {
	#welcomeProcessWrapper.welcome #welcomeProcessContent .logoWelcomeProcess {
		height: 111px !important;
	}
     /*Norification*/
    #headerWrapper header #myManager .notificationsZone.hasNotifications {       
        height: 39px;
        width: 39px;
        margin-top: 0px;       
    }
    #headerWrapper header #myManager .notificationsZone a {
        top: -1px;
        
    }

}

/* ############### */
/* XXS
/* SAMSUNG PORTRAIT
/* ############### */

@media screen and (min-width: 360px) and (max-width: 479px) {
	#welcomeProcessWrapper.welcome #welcomeProcessContent .logoWelcomeProcess {
		height: 111px !important;
	}
	
	 /*Norification*/
    #headerWrapper header #myManager .notificationsZone.hasNotifications {       
        height: 39px;
        width: 39px;
        margin-top: 0px;       
    }
    #headerWrapper header #myManager .notificationsZone a {
        top: -1px;
        
    }
}

/* ############### */
/* XS
/* IPHONE LANDSCAPE
/* ############### */

@media screen and (min-width: 480px) and (max-width: 639px) {
	#welcomeProcessWrapper.welcome #welcomeProcessContent .logoWelcomeProcess {
		height: 111px !important;
	}
     /*Norification*/
    #headerWrapper header #myManager .notificationsZone.hasNotifications {       
        height: 39px;
        width: 39px;
        margin-top: 0px;       
    }
    #headerWrapper header #myManager .notificationsZone a {
        top: -1px;
        
    }
}



/* ############### */
/* S
/* SAMSUNG LANDSCAPE
/* ############### */

@media screen and (min-width: 640px) and (max-width: 767px) {
     /*Norification*/
    #headerWrapper header #myManager .notificationsZone.hasNotifications {       
        height: 39px;
        width: 39px;
        margin-top: 0px;       
    }
    #headerWrapper header #myManager .notificationsZone a {
        top: -1px;
        
    }
}



/* ############################## */
/* M > 768px && < 984px */
/* ############################## */

@media screen and (min-width: 768px) and (max-width: 984px) {

}


/* ############################## */
/* L > 985px && < 1240px >  STANDARD RESOLUTION */
/* ############################## */

@media screen and (min-width: 985px) and (max-width: 1239px) {

}


/* ############################## */
/* XL > 1240 && < 1559 */
/* ############################## */

@media screen and (min-width: 1240px) and (max-width: 1559px) {
	
}


/* ############################## */
/* XXL > 1560 && < 1799 */
/* ############################## */

@media screen and (min-width: 1560px) and (max-width: 1799px) {
	
}


/* ############################## */
/* XXXL > 1800 */
/* ############################## */

@media screen and (min-width: 1800px) {
	
}



/* ############ */
/* FOR RETINA DISPLAY */
/* ############ */


@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	
}
	





