@font-face{
    font-family: 'Arial Rounded MT Bold';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    src: url('/_layouts/15/EucouncilRed/Hoozin/Fonts/ARLRDBD.ttf') format('truetype');
      
}