@import "/_layouts/15/Prexens/Hoozin/LESS/bootstrap/mixins.less";
@import "/_layouts/15/Prexens/Hoozin/LESS/bootstrap/bootstrap.less";
@import "/_layouts/15/Prexens/Hoozin/LESS/hoozinReset.less";
@import "/_layouts/15/Prexens/Hoozin/LESS/hoozinGeneric.less";
@import "/_layouts/15/Prexens/Hoozin/LESS/hoozinForm.less";

/* ################################################################################## */
/* 1024 */
html {
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	background: url(@hoozinLoginPageBodyImageUrl) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */

     .ms-backgroundImage {
         height: 100%;
            background-position: center center;
			background-size: cover;
     }

	#s4-simple-card {
		position: absolute; 
		top: 50%;
		left: 50%; 
		height: auto;
		width: 480px;
		margin-left: 290px;
        margin-top: -380px;
		border: 0;
		background-color: transparent;
		.box-shadow(none);
        //border-radius: 10px;


		/* SharePoint Reset */
		#s4-simple-card-top,
		#s4-simple-gobackcont {
			display: none;
		}
		#s4-simple-card-content {
			margin: 0;
			height: 100%;
			.s4-simple-iconcont {
				display: none;
			}
			#s4-simple-content {
				margin: 0;
				height: 100%;
				h1 {
					display: none;
				}
				#s4-simple-error-content {
					margin: 0;
					height: 100%;
				}
			}
		}
		/* END SharePoint Reset */

		#boxScreenWrapper {
			height: 100%;
            background-position: center center;
			background-size: cover;

			.contentZone {
				position:relative;
				float: left;
				padding: 50px 100px 50px 50px;
				width: 100%;
				height: 100%;

                p {
                    margin-bottom:20px !important;
                    font-size: 22px !important;
                        line-height: 22px;
                }
			}
			#infosZone {
				position:relative;
				float: right;
				padding: 30px;
				width: 50%;
				height: 100%;
                display:none;
			}
			#hoozinLogo {
				width: 269px;
				height: 75px;
				margin-bottom: 10px;
				background: url(@hoozinBoxPageLogo) top left no-repeat;
			}
			.btn {
				position: absolute;
				bottom: 40px;
				right: 100px;
                border-radius:4px;
                    padding: 5px 15px;
                    font-size:12px;

				&.btn-primary {
					background-image: url(/_layouts/15/images/EucouncilRed/Hoozin/loaders/hoozinLoader-20-white.gif);
					background-position: -9999px center;
					background-repeat: no-repeat;
					overflow: hidden;
                    background-color:@hoozinMainColor;
                    border: 1px solid @hoozinMainColor;
                    color:@white !important;
				}
			}
	
			&.simple {
				.contentZone {
					width: 100%;
				}
				#infosZone {
					display: none;
				}
			}
	
			&.errors {
				.contentZone {
					p {
						color: @hoozinMainColor;
					}
					.btn {
						color: @white;
					}
				}
				#infosZone {
                    display:none;
					line-height: 100px;
					font-size: 100px;
					text-align: right;
					span {
						color: @white;
						opacity: 0.7;
					}
				}
				&.privat {
					#infosZone {
						background: url('/_layouts/15/images/EucouncilRed/Hoozin/boxPage/401.jpg?v=1002') center center no-repeat;
                        display:none;
					}
				}
				&.lost {
					.contentZone {
						p {
							margin-top: 150px;
							font-size: 32px;
							line-height: 32px;
						}
					}
					#infosZone {
						background: url('/_layouts/15/images/EucouncilRed/Hoozin/boxPage/404.jpg?v=1002') center center no-repeat;
					}
				}
				&.crash {
					#infosZone {
						background: url('/_layouts/15/images/EucouncilRed/Hoozin/boxPage/500.jpg?v=1002') center center no-repeat;
					}
				}
			}
	
			&.login {
				.contentZone {
					#SslWarning {
						display: none;
					}
					p {
						font-size: 14px;
                        margin-bottom: 10px;
                        color: @hoozinMainColor !important;
                        font-weight: bold;
                        white-space:pre-line;

						.loginHelper {
							display: block;
							font-size: 14px;
							text-align: right;
                            font-weight: normal;
                            margin-top: -40px;

							a:visited {
								color: @hoozinMainColor !important;
							}
						}
					}
					.loginAlert {
						display: block;
						color: @hoozinMainColor;
						font-size: 11px;
						padding: 10px 0;
						/*background-color: @btnWarningBackgroundHighlight;*/
					}

					

					.hoozinFielset { /* hoozinForm Override */
						border: 0;
						margin: 0;
						padding: 0;
						position: inherit;
						.inputBlock {
							margin-bottom: 0;
							.labelWrapper {
								float: left;
								padding-right: 30px;
								text-align: right;
								width: 35%;
								label {
									line-height: 26px;
									margin-bottom: 15px;
									margin-top: 0px;
                                    color: @hoozinMainColor !important;
                                    font-size: 14px;
								}
							}
							.inputWrapper {
								width: 65%;
                                  input{
                                    background:white;border-radius:4px;border: 1px solid #90a0b2;box-shadow: inset 0 2px 5px -1px rgba(0, 0, 0, 0.1);
                                    &:focus{background:white;}

                                    &:-webkit-autofill {background-color:white !important;opacity:0.8;}

                                }
							}
						}
					}

					#connexionAuto {
						position: absolute;
						left: 50px;
						bottom: 50px;
						width: 200px;
						input {
							float: left;
							margin-right: 10px;
						}
						label {
							position: relative;
							top: 3px;
							margin: 0;
							font-size: 11px;
							line-height: 13px;
							color: @hoozinMainColor;                            
						}
					}
				}
				#infosZone {
					line-height: 100px;
					font-size: 100px;
					font-weight: bold;
					color: @white;
					text-align: right;
					background: url('/_layouts/15/images/EucouncilRed/Hoozin/boxPage/login.jpg?v=1002') center center no-repeat;
				}
			}

            &.register {
				.contentZone {
					#SslWarning {
						display: none;
					}
                    .btn {
                        bottom: -20px;
                        left: 280px;
                    }
					p {
						font-size: 14px;
                        margin-bottom: 0;
                        color: @hoozinMainColor !important;
                        font-weight: bold;
                        white-space:nowrap;
                            line-height: 20px;

						.loginHelper {
							display: block;
							font-size: 14px;
							text-align: right;
                            font-weight: normal;
                            margin-top: -40px;

							a:visited {
								color: @hoozinMainColor !important;
							}
						}
					}
					.loginAlert {
						display: block;
						color: @hoozinMainColor;
						font-size: 11px;
						padding: 10px 0;
						/*background-color: @btnWarningBackgroundHighlight;*/
					}

					

					.hoozinFielset { /* hoozinForm Override */
						border: 0;
						margin: 20px 0 0 0;
						padding: 0;
						position: inherit;
						.inputBlock {
							margin-bottom: 0;
							.labelWrapper {
								float: left;
								padding-right: 30px;
								text-align: right;
								width: 35%;
								label {
									    line-height: 16px;
                                    margin-bottom: 23px;
                                    margin-top: 0px;
                                    color: @hoozinMainColor !important;
                                    font-size: 12px;
								}
							}
							.inputWrapper {
								width: 65%;
                                  input{
                                    background:white;border-radius:4px;border: 1px solid #90a0b2;box-shadow: inset 0 2px 5px -1px rgba(0, 0, 0, 0.1);
                                    &:focus{background:white;}

                                    &:-webkit-autofill {background-color:white !important;opacity:0.8;}

                                }
							}
						}
					}

					
				}
				#infosZone {
					line-height: 100px;
					font-size: 100px;
					font-weight: bold;
					color: @white;
					text-align: right;
					background: url('/_layouts/15/images/EucouncilRed/Hoozin/boxPage/login.jpg?v=1002') center center no-repeat;
				}

                .registerErrors {
	                color: #ec5426;
	                font-size: 11px;
	                margin: 0 0 25px;
                }
			}

			&.recoverPass {
				.contentZone {
					#formDone,
					#formError {
						position: absolute;
						top: 260px;
						left: 50px;
						display: none;
						font-size: 11px;
					}
					#formDone {
						color: @hoozinBtnInfoBackground;
					}
					#formError {
						color: @btnWarningBackgroundHighlight;
					}

					.hoozinFielset { /* hoozinForm Override */
						border: 0;
						margin: 50px 0;
						padding: 0;
						position: inherit;
						.inputBlock {
							margin-bottom: 0;
							.labelWrapper {
								float: left;
								padding-right: 30px;
								text-align: right;
								width: 35%;
								label {
									line-height: 26px;
									margin-bottom: 15px;
									margin-top: 0px;
                                    color: @hoozinMainColor !important;
                                    font-size:14px;
								}
							}
							.inputWrapper {
								width: 65%;

                                input{
                                    background:white;border-radius:4px;border: 1px solid #90a0b2;box-shadow: inset 0 2px 5px -1px rgba(0, 0, 0, 0.1);
                                    &:focus{background:white;}

                                    &:-webkit-autofill {background-color:white !important;opacity:0.8;}

                                }
							}
						}
					}

					.backLoginForm {
						position: absolute;
						bottom: 70px;
						left: 50px;
                        color: @hoozinMainColor !important;
                        font-size: 14px;
					}

				}

				#infosZone {
					line-height: 100px;
					font-size: 100px;
					font-weight: bold;
					color: @white;
					text-align: right;
					background: url('/_layouts/15/images/EucouncilRed/Hoozin/boxPage/login.jpg?v=1002') center center no-repeat;
				}

			}

		}
	
	}
}





/* ################################################################################## */
/* COMMON STYLES FOR SMALL RESOLUTIONS
/* ################################################################################## */
@media screen and (max-width: 767px) {
	body {
		#s4-simple-card {
			margin: 50px 0;
			top: 0; 
			height: auto;
            background-color: rgba(255, 255, 255, 0.8);
			#boxScreenWrapper {
			
				.contentZone {
					float: none;
					width: 100%;
					padding: 40px 40px 60px;
					.btn {
						padding: @paddingLarge;
						font-size: @fontSizeLarge;
                        right:40px;
					}
				}
				#infosZone {
					float: none;
					width: 100%;
					height: 100px;
				}
		
				&.login {
					.contentZone {
						p {
                            font-size: 12px;
							.loginHelper {
								display: block;
								font-size: 11px;
								text-align: left;
							}
						}
						#connexionAuto {
							left: 40px;
							width: 160px;
						}
					}
				}

                &.register {
					.contentZone {
						p {
                            font-size: 12px;
							.loginHelper {
								display: block;
								font-size: 11px;
								text-align: left;
							}
						}
						#connexionAuto {
							left: 40px;
							width: 160px;
						}

                        .btn {
						    left: 220px;
					    }
					}
				}
		
				&.errors {
					#infosZone {
						font-size: 50px;
						line-height: 50px;
					}
				}

				&.privat {
					#infosZone {
						background-position:-160px -196px !important;
					}
				}
				&.lost {
					.contentZone {
						p {
							margin-top: 100px;
							margin-bottom: 50px;
						}
					}
					#infosZone {
						background-position:center -200px !important;
					}
				}
				&.crash {
					#infosZone {
						background-position:-130px -391px !important;
					}
				}

			}
		}
	}
}


/* #################### */
/* Override Bootstrap */
input, select, textarea, button {
	outline: none;
}


/* ############### */
/* XXXS
/* IPHONE PORTRAIT
/* ############### */

@media screen and (max-width: 359px)  {
	body {
		background: @hoozinContentTextBackground;

        
		#s4-simple-card {
			width: 100%;
			height: auto;
			margin: 0;
			left: 0;
			.box-shadow(none);
			#boxScreenWrapper {
				#hoozinLogo {
					width: 269px;
					height: 75px;
					background-size: 100%;
					margin-bottom:10px;
				}

				&.login {
					#infosZone {
						display: none;
					}
					.contentZone {
						padding: 12px 20px 0;
						p {
                            font-size: 12px;
							margin-bottom: 0;
							.loginHelper {
								margin-bottom: 20px;
							}
							label {
								margin: 0;
								text-align: left;
							}
						}

						.hoozinFielset { /* hoozinForm Override */
							.inputBlock {
								.labelWrapper {
									padding: 0;
									text-align: left;
									height: 30px;
								}
								.inputWrapper {
									width: 100%;
									margin-bottom: 10px;
									input {
										height: 35px;
										line-height: 18px;
										font-size: 16px;
									}
								}
							}
						}

						#connexionAuto {
							position: static;
							width: 140px;
							margin-bottom: 30px;
							label {
								display: table;
							}
						}

						.btn {
							bottom: 42px; 
							right: 20px;
						}
					}
				}

                &.register {
					#infosZone {
						display: none;
					}
					.contentZone {
						padding: 12px 20px 0;
						p {
                            font-size: 12px;
							margin-bottom: 0;
							.loginHelper {
								margin-bottom: 20px;
							}
							label {
								margin: 0;
								text-align: left;
							}
						}

						.hoozinFielset { /* hoozinForm Override */
							.inputBlock {
								.labelWrapper {
									padding: 0;
									text-align: left;
									height: 30px;
								}
								.inputWrapper {
									width: 100%;
									margin-bottom: 10px;
									input {
										height: 35px;
										line-height: 18px;
										font-size: 16px;
									}
								}
							}
						}

						#connexionAuto {
							position: static;
							width: 140px;
							margin-bottom: 30px;
							label {
								display: table;
							}
						}

						.btn {
							bottom: -20px; 
							left: 160px;
						}
					}
				}

               

				&.recoverPass {
					#infosZone {
						display: none;
					}
					.contentZone {
						padding: 12px 20px 0;
						min-height: 350px;

						#formDone,
						#formError {
							position: absolute;
							top: 230px;
							left: 40px;
							display: none;
							font-size: 11px;
						}
						p {
							.loginHelper {
								margin-bottom: 30px;
							}
							label {
								margin: 0;
								text-align: left;
							}
						}

						.hoozinFielset { /* hoozinForm Override */
							.inputBlock {
								.labelWrapper {
									padding: 0;
									text-align: left;
									height: 30px;
								}
								.inputWrapper {
									width: 100%;
									margin-bottom: 10px;
									input {
										height: 35px;
										line-height: 18px;
										font-size: 16px;
									}
								}
							}
						}

						.backLoginForm {
							bottom: 35px;
							left:20px;
							width: 150px;
						}

						.btn {
							bottom: 20px;
							right: 20px;
						}
					}
				}
			}
		}
	}
}

/* ############### */
/* XXS
/* SAMSUNG PORTRAIT
/* ############### */

@media screen and (min-width: 360px) and (max-width: 479px) {
	body {
		background: @hoozinContentTextBackground; 
		#s4-simple-card {
			width: 100%;
			height: auto;
			margin: 0;
			left: 0;
			.box-shadow(none);
			#boxScreenWrapper {
				#hoozinLogo {
					width: 269px;
					height: 75px;
					background-size: 100%;
					margin-bottom:10px;
				}
		
				&.login {
					#infosZone {
						display: none;
					}
					.contentZone {
						padding: 20px 20px 0;
						p {
							margin-bottom: 0;
                            font-size: 12px;
							.loginHelper {
								margin-bottom: 20px;
							}
							label {
								margin: 0;
								text-align: left;
							}
						}

						.hoozinFielset { /* hoozinForm Override */
							.inputBlock {
								.labelWrapper {
									padding: 0;
									text-align: left;
									height: 30px;
								}
								.inputWrapper {
									width: 100%;
									margin-bottom: 10px;
									input {
										height: 35px;
										line-height: 18px;
										font-size: 16px;
									}
								}
							}
						}

						#connexionAuto {
							position: static;
							width: 160px;
							margin-bottom: 30px;
						}
						.btn {
							bottom: 20px;
							right: 20px;
						}
					}
				}

                &.register {
					#infosZone {
						display: none;
					}
					.contentZone {
						padding: 20px 20px 0;
						p {
							margin-bottom: 0;
                            font-size: 12px;
							.loginHelper {
								margin-bottom: 20px;
							}
							label {
								margin: 0;
								text-align: left;
							}
						}

						.hoozinFielset { /* hoozinForm Override */
							.inputBlock {
								.labelWrapper {
									padding: 0;
									text-align: left;
									height: 30px;
								}
								.inputWrapper {
									width: 100%;
									margin-bottom: 10px;
									input {
										height: 35px;
										line-height: 18px;
										font-size: 16px;
									}
								}
							}
						}

						#connexionAuto {
							position: static;
							width: 160px;
							margin-bottom: 30px;
						}
						.btn {
							bottom: -20px;
							left: 220px;
						}
					}
				}

				&.recoverPass {
					#infosZone {
						display: none;
					}
					.contentZone {
						padding: 12px 20px 0;
						min-height: 350px;

						#formDone,
						#formError {
							position: absolute;
							top:230px;
							left: 40px;
							display: none;
							font-size: 11px;
						}
						p {
							label {
								margin: 0;
								text-align: left;
							}
						}

						.hoozinFielset { /* hoozinForm Override */
							.inputBlock {
								.labelWrapper {
									padding: 0;
									text-align: left;
									height: 30px;
								}
								.inputWrapper {
									width: 100%;
									margin-bottom: 10px;
									input {
										height: 35px;
										line-height: 18px;
										font-size: 16px;
									}
								}
							}
						}

						.backLoginForm {
							bottom: 35px;
							left:20px;
							width: 150px;
						}

						.btn {
							bottom: 20px;
							right: 20px;
						}
					}
				}
		
			}
		}
	}
	
}

/* ############### */
/* XS
/* IPHONE LANDSCAPE
/* ############### */

@media screen and (min-width: 480px) and (max-width: 639px) {
	body {
		#s4-simple-card {
			width: 400px;
			margin-left: -200px;
			#boxScreenWrapper {
				&.recoverPass {
					.contentZone {
						.hoozinFielset {
							margin-bottom: 100px;
						}
                        .backLoginForm {
							bottom: 130px;							
						}
					}
				}
			}
		}
	}
}


/* ############### */
/* S
/* SAMSUNG LANDSCAPE
/* ############### */

@media screen and (min-width: 640px) and (max-width: 767px) {
	body {
		#s4-simple-card {
			width: 400px;
			margin-left: -200px;
			#boxScreenWrapper {
				&.recoverPass {
					.contentZone {
                        &.register { 
                            .btn {
                                left:220px;
                            }
                           }

						.hoozinFielset {
							margin-bottom: 100px;
						}
                        .backLoginForm {
							bottom: 130px;
							
						}
					}
				}
			}
		}
	}
}



/* ################################################################################## */
/* M > 768px && < 984px */
/* ################################################################################## */

@media screen and (min-width: 768px) and (max-width: 984px) {
	body {
		#s4-simple-card {
			width: 400px;
			margin: 50px 0;
			top: 0; 
			height: auto;
			margin-left: -200px;
            background-color: rgba(255, 255, 255, 0.8);

			#boxScreenWrapper {
				.contentZone {
					float: none;
					width: 100%;
					padding: 40px 40px 60px;
					.btn {
						font-size: 15px;
						padding: 11px 19px;
                        right:40px;
					}
				}
				#infosZone {
					float: none;
					width: 100%;
					height: 100px;
				}
		
				&.login {
					.contentZone {
						p {
                            font-size: 12px;
							.loginHelper {
								display: block;
								font-size: 12px !important;
								text-align: right;
							}
						}
						#connexionAuto {
							left: 40px;
							width: 160px;
						}
					}
				}
                &.register { 
                    .contentZone {
                        .btn {
                            left:220px;
                        }
                    }
                }
		
				&.errors {
					#infosZone {
						font-size: 50px;
						line-height: 50px;
					}

					
					&.lost {
						.contentZone {
							p {
								margin-top: 100px;
								margin-bottom: 50px;
							}
						}

						#infosZone {
							background-position:center -200px !important;
						}
					}

					&.crash {
						#infosZone {
							background-position:-130px -391px !important;
						}
					}

					&.privat {
						#infosZone {
							background-position:-160px -196px !important;
						}
					}

				}

				&.recoverPass {
					.contentZone {
						.hoozinFielset {
							margin-bottom: 100px;
						}
                        .backLoginForm {
							bottom: 130px;							
						}
					}
				}
			}
		}
	}
	
	
}




/* ################################################################################## */
/* L > 985px && < 1240px >  STANDARD RESOLUTION */
/* ################################################################################## */

@media screen and (min-width: 985px) and (max-width: 1239px) {
	body {
		#s4-simple-card {
			
			margin-left: 120px;
            }
    }
}


/* ################################################################################## */
/* XL > 1240 && < 1559 */
/* ################################################################################## */

@media screen and (min-width: 1240px) and (max-width: 1559px) {
	body {
		#s4-simple-card {
			
			margin-left: 170px;
            }
    }
		
}


/* ################################################################################## */
/* XXL > 1560 && < 1799 */
/* ################################################################################## */

@media screen and (min-width: 1560px) and (max-width: 1799px) {
	
    body {
		#s4-simple-card {
			
			margin-left: 240px;
            }
    }
	
	
	
}


/* ################################################################################## */
/* XXXL > 1800 */
/* ################################################################################## */

@media screen and (min-width: 1800px) {

	
	
}


/* ################################################################################## */
/* FOR RETINA DISPLAY */
/* ################################################################################## */

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	body {
		#s4-simple-card {
			#boxScreenWrapper {
				#hoozinLogo {
					background-image:url(@hoozinBoxPageLogoRetina);
					background-size: 300px auto;
				}
			}
		}
	}

}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (max-width: 479px) {
	body {
		#s4-simple-card {
			#boxScreenWrapper {
				#hoozinLogo {
					background-image:url(@hoozinBoxPageLogoRetina);
					background-size: 150px auto;
				}
			}
		}
	}
}
	





