// Variables HOOZIN
// --------------------------------------------------

@hoozinMainColor: #590c13;
@hoozinImagesMainColor: "590c13";

// ################################################### //

@hoozinLightColor: lighten(@hoozinMainColor, 10%);
@hoozinSuperLightColor: lighten(@hoozinMainColor, 25%);
@hoozinDarkColor: darken(@hoozinMainColor, 5%);
@hoozinSuperDarkColor: darken(@hoozinMainColor, 25%);

@white: #FFF;
@black: #000;

/* Gray */
@hoozinDarkGray: #3e3e3e;
@hoozinGray: #6b6b6b;
@hoozinImageGray: "6b6b6b";
@hoozinGrayLight: #a7a7a7;
@hoozinGraySuperLight: #CCCCCC;
@hoozinGrayBorder: #d8d8d8;
@hoozinGrayUltraLight: #e3e3e3; 
@hoozinGrayGigaLight: #f9f9f9;
@hoozinGrayHover: #898989;
@hoozinImageGrayHover: "898989";
@hoozinContentTextBackground: #F2F2F2;


// SPRITES
@hoozinBlackSprite: '/_layouts/15/images/Prexens/Hoozin/sprites/bl-hoozin-sprite.png';
@hoozinBlackSpriteRetina: '/_layouts/15/images/Prexens/Hoozin/sprites/bl-hoozin-sprite-x2.png';
@hoozinWhiteSprite: '/_layouts/15/images/Prexens/Hoozin/sprites/wh-hoozin-sprite.png';
@hoozinWhiteSpriteRetina: '/_layouts/15/images/Prexens/Hoozin/sprites/wh-hoozin-sprite-x2.png';
@hoozinColorSprite: '/_layouts/15/images/Prexens/Hoozin/sprites/color-hoozin-sprite.png?v=1002';
@hoozinColorSpriteRetina: '/_layouts/15/images/Prexens/Hoozin/sprites/color-hoozin-sprite-x2.png?v=1002';
@hoozinSpriteSize: 560px auto;

// SPRITE customer
@customerBlackSprite: '/_layouts/15/images/EucouncilRed/Hoozin/sprites/bl-customer-sprite.png?v=1002';
@customerBlackSpriteRetina: '/_layouts/15/images/EucouncilRed/Hoozin/sprites/bl-customer-sprite-x2.png?v=1002';
@customerWhiteSprite: '/_layouts/15/images/EucouncilRed/Hoozin/sprites/wh-customer-sprite.png?v=1002';
@customerWhiteSpriteRetina: '/_layouts/15/images/EucouncilRed/Hoozin/sprites/wh-customer-sprite-x2.png?v=1002';
@customerColorSprite: '/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite.png?v=1002';
@customerColorSpriteRetina: '/_layouts/15/images/EucouncilRed/Hoozin/sprites/color-customer-sprite-x2.png?v=1002';
@customerSpriteSize: 560px auto;

// IMAGE LOADER
@hoozinLoaderImg20Color: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-20-color.gif?v=1002';
@hoozinLoaderImg20White: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-20-white.gif';
@hoozinLoaderImg20Black: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-20-black.gif';

@hoozinLoaderImg32Color: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-32-color.gif?v=1002';
@hoozinLoaderImg32White: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-32-white.gif';
@hoozinLoaderImg32Black: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-32-black.gif';

@hoozinLoaderImg64Color: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-64-color.gif?v=1002';
@hoozinLoaderImg64White: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-64-white.gif';
@hoozinLoaderImg64Black: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-64-black.gif';

@hoozinLoaderImg128Color: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-128-color.gif?v=1002';
@hoozinLoaderImg128White: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-128-white.gif';
@hoozinLoaderImg128Black: '/_layouts/15/Images/EucouncilRed/Hoozin/loaders/hoozinLoader-128-black.gif';

// INTERFACE COLORS
@hoozinBg: rgba(255, 255, 255, 0); // default : #282828
@hoozinBgContentWrapper: rgba(255, 255, 255, 0); //default : #F2F2F2
@hoozinBgSubContentWrapper: #e1d3d4; // default : #3A3A3A

// MASTER LOADER
@hoozinMasterLoaderBgColor: #E8E8E8; /*lighten(#282828,20%);*/
@hoozinMasterLoaderTextColor: #8C8C8C;
@hoozinMasterLoaderImgUrl: '/_layouts/15/images/prexens/hoozin/logos/master-loader-wh.png?v=1003';
@hoozinMasterLoaderOpacity: 60;

// INTERFACE POSITIONS
@hoozinResolutionLmainFunctionsLeftPosition : 140px;
@hoozinResolutionLSearchWrapperLeftPosition : 377px;
@hoozinResolutionMmainFunctionsLeftPosition : 140px;
@hoozinResolutionMSearchWrapperLeftPosition : 343px;

// CONTEXT COLORS
@hoozinContextBgColor: #f4f0f0;		// default : #D8D8D8
@hoozinContextImage: @hoozinBlackSprite; // default: @hoozinBlackSprite
@hoozinContextImageRetina: @hoozinBlackSpriteRetina; // default: @hoozinBlackSpriteRetina
@hoozinContextImageOpacity: 30; // default : 30
@hoozinContextImageOpacityHover: 50; // default : 50

// HOOZIN CORE
@hoozinTopArrowImage: @hoozinBlackSprite;
@hoozinTopArrowImageRetina: @hoozinBlackSpriteRetina;
@hoozinInfosBlocBorderLeft: 5px solid @hoozinMainColor; 
@hoozinInfosBlocBorderBottom: 1px solid @hoozinBgContentWrapper;
@hoozinInfosBlocContentTextBgColor: lighten(@hoozinContextBgColor,5%);
@hoozinInfosBlocContentIconListImage: @hoozinBlackSprite;
@hoozinInfosBlocContentIconListImageRetina: @hoozinBlackSpriteRetina;
@hoozinInfosBlocContentIconListOpacity: 30;
@hoozinAvatarSecurityImage: @hoozinBlackSprite;
@hoozinAvatarSecurityImageRetina: @hoozinBlackSpriteRetina;
@hoozinInfosBlocTimeColor: @hoozinGrayLight;
@hoozinInfosBlocTimeSpanColor: @hoozinDarkGray;
@hoozinInfosBlocEditableBtImage: @hoozinBlackSprite;
@hoozinInfosBlocEditableBtImageRetina: @hoozinBlackSpriteRetina;
@hoozinInfosBlocEditableBtOpacity: 30;
@hoozinInfosBlocEditableBtOpacityHover: 50;
@hoozinInfosBlocIconTitleImage: @hoozinBlackSprite;
@hoozinInfosBlocIconTitleImageRetina: @hoozinBlackSpriteRetina;
@hoozinInfosBlocIconTitleOpacity: 70;
@hoozinNoElemBgColor: @white;
@hoozinNoElemBorderColor: @hoozinGrayUltraLight;
@hoozinNoElemIconImage: @hoozinColorSprite;
@hoozinNoElemIconImageRetina: @hoozinColorSpriteRetina;
@hoozinNoElemShadowHover: 0 0 6px @hoozinLightColor;
@hoozinTransitionTimer: 500ms;


// HEADER COLOR
@hoozinHeaderBgColor: @hoozinMainColor; // default : @hoozinMainColor
@hoozinLogoImage: '/_layouts/15/images/EucouncilRed/hoozin/logos/Logo.png?v=1003';
@hoozinLogoImageRetina: '/_layouts/15/images/EucouncilRed/hoozin/logos/Logo-x2.png?v=1003';
@hoozinLogoWidth:175px;
@hoozinLogoHeight:40px;
@hoozinLogoTop:5px;
@hoozinLogoSize: @hoozinLogoWidth auto;
@hoozinHeaderBorderBottom: none;
@hoozinHeaderBoxShadow:none;

// MAIN FUNCTIONNALITES COLOR
@hoozinMainFuncImage: @hoozinBlackSprite; // default : @hoozinblackSprite;
@hoozinMainFuncImageRetina: @hoozinBlackSpriteRetina; // default : @hoozinblackSpriteRetina;
@hoozinMainFuncImageOpacity: 100; // default : 20
@hoozinMainFuncImageOpacityHover: 70; // default : 50


// SEARCH COLOR
@hoozinSearchInputBgColor: darken(@hoozinMainColor,10%); // default : #darken(@hoozinMainColor,10%)
@hoozinSearchInputMobileBgColor: @hoozinSearchInputBgColor; // default : #707070
@hoozinSearchInputColor: @hoozinMainColor; // default : @white
@hoozinSearchButtonImage: @hoozinColorSprite; // default : @hoozinWhiteSprite;
@hoozinSearchButtonImageRetina: @hoozinColorSpriteRetina; // default : @hoozinWhiteSpriteRetina;
@hoozinSearchButtonImageOpacity: 100; // default : 50
@hoozinSearchButtonImageOpacityHover: 70; // default : 70


// USER MENU
@hoozinUserMenuBgColor: #f4f0f0; // default : #C5F480
@hoozinUserMenuBgHoverColor: lighten(@hoozinUserMenuBgColor, 10%); // default : lighten(@hoozinUserMenuBgColor, 10%);
@hoozinUserMenuColor: @hoozinMainColor; // default : @hoozinDarkGray
@hoozinUserMenuArrowImage: @hoozinColorSprite; // default : @hoozin.BlackSprite;
@hoozinUserMenuArrowImageRetina: @hoozinColorSpriteRetina; // default : @hoozinBlackSpriteRetina;
@hoozinUserMenuWindowBgColor: @white;
@hoozinUserMenuWindowBorderColor: @hoozinGraySuperLight;
@hoozinUserMenuWindowColor: @hoozinGray;
@hoozinUserMenuWindowSeparatorBorder: 1px dotted @hoozinGraySuperLight;
@hoozinUserMenuWindowlinkColor: @hoozinDarkColor;
@hoozinSquareMenuColor: @hoozinGray;

// MAIN NAV ICONS COLORS
@hoozinMainNavOffColor: "50393d"; // KEEP IN STRING FORMAT ! default : "6b6b6b" // DO NOT USE VARIABLES !!!
@hoozinMainNavHoverColor: "590c13"; // KEEP IN STRING FORMAT ! default : "898989" // DO NOT USE VARIABLES !!!
@hoozinMainNavActiveColor: "50393d"; // KEEP IN STRING FORMAT ! default : "eeeaea" // DO NOT USE VARIABLES !!!
@hoozinMainNavOffMainTextColor: #50393d; // default : #a7a7a7
@hoozinMainNavOffSubTextColor: #50393d; // default : #6b6b6b
@hoozinMainNavHoverMainTextColor: #590c13; // default : #eeeaea
@hoozinMainNavActiveMainTextColor: #50393d; // default : #eeeaea
@hoozinMainNavActiveSubTextColor: #50393d; // default : #FFFFFF
@hoozinMainNavSectionTitleColor: #590c13;

// SUB MENU COLORS
@hoozinSubNavBgColor: @hoozinBgSubContentWrapper; // default : #3A3A3A
@hoozinSubNavColorTitle: #590c13; // default : #A9A9A9
@hoozinSubNavColorTitleHover: #590c13; // default : #3A3A3A
@hoozinSubNavColor: #50393d; // default : #B5B5B5
@hoozinSubNavMobileLinkColor: @hoozinMainColor;
@hoozinSubNavHoverColor: #590c13; // default : #FFFFFF
@hoozinSubNavActiveColor: #50393d; // default : #eeeaea
@hoozinBorderSectionNavColor: #efeded;
@hoozinMainNavBorderLeft: 1px solid transparent;
@hoozinCommunityNameColor: #590c13;
@hoozinCommunityDescriptionColor: #50393d;
@hoozinCommunityNameColorHover: #590c13;

// BREADCRUMB
@hoozinBreadcrumbBgColor: #3A3A3A;
@hoozinBreadcrumbColor: @hoozinGrayHover;
@hoozinBreadcrumbColorSelected: @hoozinSuperLightColor;
@hoozinBreadcrumbColorHover: #c8c8c8;

// POPHOVERWINDOWS
@hoozinPopHoverWindowsBgColor: @white;
@hoozinPopHoverWindowsBorderColor: @hoozinGraySuperLight;
@hoozinPopHoverWindowsColor: @hoozinDarkGray;
@hoozinPopHoverWindowsWrapperMobileBgImage: "/_layouts/15/images/Prexens/Hoozin/bg/wh80.png?v=1002";

// NOTIFICATIONS ZONE
// BT OPEN NOTIF
@hoozinNotificationsZoneBgColor: transparent; // default : #C5F480
@hoozinNotificationsZoneBgColorHover: lighten(@hoozinNotificationsZoneBgColor, 10%); // default : lighten(@hoozinNotificationsZoneBgColor, 10%)
@hoozinNotificationsZoneColor: @white; // default : #3E3E3E
@hoozinNotificationsZoneTextOpacity: 100; // default : 50
@hoozinNotificationsZoneImage: @hoozinColorSprite; // default : @hoozinBlackSprite
@hoozinNotificationsZoneImageRetina: @hoozinColorSpriteRetina; // default : @hoozinBlackSpriteRetina
@hoozinNotificationsZoneImageOpacity: 100; // default : 50
@hoozinNotificationsZoneImageOpacityHover: 80; // default : 70
@hoozinHasNotificationsImageOpacity: 100; // default : 70

// HEADER NOTIF
@hoozinNotificationsHeaderBgColor: @white; // default: #8be801
@hoozinNotificationsHeaderColor: @hoozinMainColor; // default: #8be801
@hoozinNotificationsHeaderImage: @hoozinColorSprite; // default : @hoozinBlackSprite
@hoozinNotificationsHeaderImageRetina: @hoozinColorSpriteRetina; // default : @hoozinBlackSprite
@hoozinNotificationsHeaderImageOpacity: 100; // default : 30
@hoozinNotificationsHeaderImageOpacityHover: 80; // default : 30

// HEADER NOTIF DETAIL
@hoozinNotificationsHeaderDetailsBgColor: @white; // default: #8be801
@hoozinNotificationsHeaderDetailsColor: @hoozinMainColor; // default: #8be801
@hoozinNotificationsHeaderDetailImage: @hoozinColorSprite; // default : @hoozinBlackSprite
@hoozinNotificationsHeaderDetailImageRetina: @hoozinColorSpriteRetina; // default : @hoozinBlackSpriteRetina
@hoozinNotificationsHeaderDetailsImageOpacity: 100; // default : 30
@hoozinNotificationsHeaderDetailsImageOpacityHover: 80; // default : 30
@hoozinNotificationDetailsBgColor: @hoozinContentTextBackground;

// CATEGORIE
@hoozinNotificationBg: #F5F5F5;
@hoozinNotificationsCategorieBgColor: #E8E8E8;
@hoozinNotificationsCategorieColor: #3e3e3e;
@hoozinNotificationsCategorieBgColorBorderTop: #E8E8E8;
@hoozinNotificationsCategorieBgColorBorderBottom: darken(@hoozinNotificationsCategorieBgColorBorderTop,10%);
@hoozinNotificationsCategorieImage: @hoozinBlackSprite; // default : @hoozinBlackSprite
@hoozinNotificationsCategorieImageRetina: @hoozinBlackSpriteRetina; // default : @hoozinBlackSprite
@hoozinNotificationsCategorieImageOpacity: 30; // default : 60
@hoozinNotificationsCategorieImageOpacityHover: 50; // default : 80

// MAIN & ATTACHED NOTIFICATION
@hoozinNotificationsWrapperBgColor: #efeff0;
@hoozinNotificationsWrapperBgColorHover: #FFFFFF;
@hoozinNotificationsWrapperColor: #3e3e3e;
@hoozinNotificationsWrapperElemBgColor: @hoozinNotificationBg;
@hoozinNotificationsWrapperElemBorderTop: lighten(@hoozinNotificationsWrapperElemBgColor, 10%);
@hoozinNotificationsWrapperElemBorderBottom: darken(@hoozinNotificationsWrapperElemBgColor,10%);
@hoozinNotificationsWrapperIcon: @hoozinBlackSprite;
@hoozinNotificationsWrapperIconRetina: @hoozinBlackSpriteRetina;
@hoozinNotificationsWrapperIconOpacity: 30;

// LINK COLOR
@hoozinNotificationsWrapperLink: @hoozinMainColor;
@hoozinNotificationsWrapperLinkHover: rgba(237, 125, 49, 0.5);
@hoozinNotificationsWrapperLinkSelected: @hoozinMainColor;
@hoozinNotificationsWrapperLinkUnread: @hoozinMainColor;
@hoozinNotificationsWrapperLinkUnreadHover: rgba(237, 125, 49, 0.5);
@hoozinNotificationsWrapperLinkUnreadSelected: @hoozinMainColor;

// UNREAD NOTIF
@hoozinNotificationsWrapperReadOpacity: 70;
@hoozinNotificationsWrapperUnreadOpacity: 100;
@hoozinNotificationsWrapperTweetColor: #3e3e3e;
@hoozinNotificationsWrapperAddOpacityHover: 20;
@hoozinNotificationsWrapperUnreadBgColor: lighten(@hoozinNotificationsWrapperBgColor, 10%); 
@hoozinNotificationsWrapperUnreadElemBorderTop: lighten(@hoozinNotificationsWrapperUnreadBgColor, 5%);
@hoozinNotificationsWrapperUnreadElemBorderBottom: darken(@hoozinNotificationsWrapperUnreadBgColor,5%);
@hoozinNotificationsWrapperUnreadBgHoverColor: lighten(@hoozinNotificationsWrapperBgColor, 15%); 
@hoozinNotificationsWrapperIconUnread: @hoozinColorSprite;
@hoozinNotificationsWrapperIconUnreadRetina: @hoozinColorSpriteRetina;

// SELECTED NOTIF
@hoozinNotificationsWrapperSelectedBgColor: @hoozinNotificationDetailsBgColor;
@hoozinNotificationsWrapperSelectedElemBorderTop: lighten(@hoozinNotificationsWrapperSelectedBgColor, 10%);
@hoozinNotificationsWrapperSelectedElemBorderBottom: darken(@hoozinNotificationsWrapperSelectedBgColor,10%);
@hoozinNotificationsWrapperSelectedUnreadBgColor: darken(@hoozinNotificationsWrapperSelectedBgColor, 5%);
@hoozinNotificationsWrapperSelectedColor: @hoozinDarkGray;
@hoozinNotificationsWrapperSelectedIcon: @hoozinBlackSprite;
@hoozinNotificationsWrapperSelectedIconRetina: @hoozinBlackSpriteRetina;
@hoozinNotificationsWrapperSelectedIconOpacity: 30;
@hoozinNotificationsWrapperSelectedIconUnread: @hoozinColorSprite;
@hoozinNotificationsWrapperSelectedIconUnreadRetina: @hoozinColorSpriteRetina;
@hoozinNotificationsWrapperSelectedIconOpacityUnread: 100;

// CHAT HEADER COLORS
@hoozinChatHeaderBgColor: #8be801; // default : #8be801
@hoozinChatHeaderColor: #61A201; // default : #61A201
@hoozinChatHeaderTextOpacity: 100; // default : 100
@hoozinChatHeaderImage: @hoozinBlackSprite; // default : @hoozinBlackSprite
@hoozinChatHeaderImageRetina: @hoozinBlackSpriteRetina; // default : @hoozinBlackSpriteRetina
@hoozinChatHeaderImageOpacity: 30; // default :30
@hoozinChatHeaderCloseImage: @hoozinBlackSprite; // default : @hoozinBlackSprite
@hoozinChatHeaderCloseImageRetina: @hoozinBlackSpriteRetina; // default : @hoozinBlackSpriteRetina
@hoozinChatHeaderCloseImageOpacity: 30; // default : 30
@hoozinChatHeaderCloseImageOpacityHover: 50; // default : 50

// CHAT COLORS
@hoozinChatBgColor: #3A3A3A; // default : #3A3A3A
@hoozinChatWelcomeIcon: @hoozinWhiteSprite; // default : @hoozinWhiteSprite
@hoozinChatWelcomeIconOpacity: 30; // hoozinColorSprite : 30
@hoozinChatWelcomeTitleColor: #FFF; // default : @black or @white or @hoozinMainColor
@hoozinChatWelcomeTitleColorOpacity: @hoozinChatWelcomeIconOpacity;
@hoozinChatWelcomeSubTitleColor: #FFF; // default : #FFF
@hoozinChatWelcomeArrowIcon: @hoozinColorSprite; // default : @hoozinColorSprite
@hoozinChatWelcomeArrowIconRetina: @hoozinColorSpriteRetina; // default : @hoozinColorSpriteRetina
@hoozinChatWelcomeArrowIconOpacity: 100; // default 100
@hoozinChatSeparatorBgColor: #494949; // default : #494949
@hoozinChatUserBorderBottom: #2B2B2B; // default : #2B2B2B
@hoozinChatUserTextColor: #B5B5B5; // default : #B5B5B5;
@hoozinChatUserTextColorHover: #FFFFFF; // default : #FFFFFF;
@hoozinChatUserPresenceIndOnline: #8be801; // default : #8be801
@hoozinChatUserPresenceIndOffline: #FF0000; // default : #FF0000
@hoozinChatUserPresenceIndBusy: #ff9600; // default : #ff9600

@hoozinChatSearchBgColor: #494949; // default : #494949;
@hoozinChatSearchInputBgColor: #2D2D2D; // default : #2D2D2D;
@hoozinChatSearchInputColor: #FFFFFF; // default : #FFFFFF;
@hoozinChatSearchButtonImage: @hoozinWhiteSprite; // default : @hoozinWhiteSprite
@hoozinChatSearchButtonImageRetina: @hoozinWhiteSpriteRetina; // default : @hoozinWhiteSpriteRetina
@hoozinChatSearchButtonImageOpacity: 50; // Default : 50

// MOBILE CUSTOMIZATION
@hoozinMobileShowMenuBg: #cfb5c0; // default : @hoozinMainColor
@hoozinMobileShowMenuBgHover: #cfb5c0; // default : @hoozinMainColor
@hoozinMobileShowMenuImage: @hoozinColorSprite; // default : @hoozinBlackSprite
@hoozinMobileShowMenuImageRetina: @hoozinColorSpriteRetina; // default : @hoozinBlackSpriteRetina
@hoozinMobileShowMenuImageOpacity: 100; // Default : 30
@hoozinMobileShowMenuImageOpacityHover: 100; // Default : 50

// LINKS COLORS
@hoozinLinkColor : @hoozinDarkColor;

// BUTTON COLORS
@hoozinBtnColor: @hoozinGray; // default : @white
@hoozinBtnBackground: @hoozinGrayUltraLight; // default #B4B4B4
@hoozinBackgroundHighlight: darken(@hoozinBtnBackground, 6%);
@hoozinBtnBorder: darken(@hoozinBtnBackground, 6%);

@hoozinBtnPrimaryColor:										@white;
@hoozinBtnPrimaryBackground:              @hoozinDarkColor; // default #7CCF01;
@hoozinBtnValidationColor:								@hoozinBtnPrimaryColor;
@hoozinBtnValidationBackground:           #7CCF01; // default #7CCF01;
@hoozinBtnInfoColor:											@hoozinBtnPrimaryColor;
@hoozinBtnInfoBackground:                 #4D70AE; // default #5bc0de;
@hoozinBtnSuccessColor:										@hoozinBtnPrimaryColor;
@hoozinBtnSuccessBackground:              #17C3CC; // default #62c462;
@hoozinBtnWarningColor:										@hoozinBtnPrimaryColor;
@hoozinBtnWarningBackground:              #EC5426; // default #EC5426;
@hoozinBtnDangerColor:										@hoozinBtnPrimaryColor;
@hoozinBtnDangerBackground:               #c90000; // default #FF0000;
@hoozinBtnInverseColor:										@hoozinBtnPrimaryColor;
@hoozinBtnInverseBackground:              #000000; // default #444;

@hoozinContextActivatorImageOpacity: 50; // default: 50
@hoozinContextActivatorImageOpacityHover: 80; // default: 80

// TOOLTIP COLORS
@hoozinTooltipBgColor: lighten(@hoozinMainColor,10%);
@hoozinTooltipTextColor: @white;

// MINIPROFILE COLORS
@hoozinMiniProfileBgColor: @white;
@hoozinMiniProfileCloseButtonSprite: @hoozinBlackSprite;
@hoozinMiniProfileCloseTextColor: @hoozinDarkGray;
@hoozinMiniProfileCloseButtonOpacity: 30;
@hoozinMiniProfileCloseButtonOpacityHover: 50;

// STREAM COLORS
@hoozinStickyBgColor: #E3FFCC;
@hoozinStickyBorderColor: #C3DFAC;
@hoozinPostTimeColor: @hoozinGrayLight;
@hoozinFeedBlockBgColor: @white;
@hoozinFeedBlockBorderColor: @hoozinGrayUltraLight;
@hoozinFeedBlockBorderColorHover: lighten(@hoozinLightColor, 20%);
@hoozinFeedBlockShadowHover: @hoozinMainColor;
@hoozinDropdownMenuLinkColor: @hoozinGrayLight;
@hoozinDropdownMenuLinkColorHover: @hoozinDarkGray;
@hoozinUserAvatarListBorderTop: @hoozinFeedBlockBorderColor;
@hoozinUserAvatarListTitle: @hoozinGrayLight;
@hoozinReactionsPluginsBadgeColor: @hoozinDarkColor;
@hoozinReactionsPluginsSeparatorColor: @hoozinGrayLight;
@hoozinCommentZoneBorderTop: @hoozinFeedBlockBorderColor;
@hoozinCommentZoneSeeAllBorderBottom: @hoozinFeedBlockBorderColor;
@hoozinCommentZoneSeeAllColor: @hoozinDarkColor;
@hoozinCommentZoneSeeAllColorHover: @hoozinSuperDarkColor;
@hoozinCommentWrapperBorderBottom: @hoozinFeedBlockBorderColor;
@hoozinHideCommentImage: @hoozinBlackSprite;
@hoozinHideCommentImageRetina: @hoozinBlackSpriteRetina;
@hoozinHideCommentImageOpacity: 20;
@hoozinHideCommentImageOpacityHover: 50;
@hoozinFeedCommentColor: @hoozinDarkGray;
@hoozinCommentActionBadgeColor: @hoozinDarkColor;  
@hoozinCommentTimeColor: @hoozinGrayLight;
@hoozinAddCommentZoneBgColor: @hoozinContentTextBackground;
@hoozinAddcommentZoneFocusBorder: @hoozinMainColor;
@hoozinAddcommentZoneFocusShadowColor: @hoozinLightColor;
@hoozinAddcommentZoneFocusBgColor: @white;
@hoozinLoadMoreBgColor: @white;
@hoozinLoadMoreBorderColor: @hoozinGrayUltraLight;
@hoozinManuallyLoadMoreColor: @hoozinLinkColor;
@hoozinManuallyLoadMoreColorHover: darken(@hoozinLinkColor,15%);
@hoozinStreamNoElemBgColor: @white;
@hoozinStreamNoElemColor: @hoozinDarkGray; 

// BT STREAM
@hoozinHideBtImage: @hoozinBlackSprite;
@hoozinHideBtImageRetina: @hoozinBlackSpriteRetina;
@hoozinHideBtImageOpacity: 20;
@hoozinHideBtImageOpacityHover: 50;
@hoozinBtAddFavoriteImage: @hoozinBlackSprite;
@hoozinBtAddFavoriteImageRetina: @hoozinBlackSpriteRetina;
@hoozinBtAddFavoriteImageOpacity: 20;
@hoozinBtAddFavoriteImageOpacityHover: 50;
@hoozinBtRemoveFavoriteImage: @hoozinColorSprite;
@hoozinBtRemoveFavoriteImageRetina: @hoozinColorSpriteRetina;
@hoozinBtRemoveFavoriteImageOpacity: 100;
@hoozinBtRemoveFavoriteImageOpacityHover: 60;
@hoozinBtAddStickyImage: @hoozinBlackSprite;
@hoozinBtAddStickyImageRetina: @hoozinBlackSpriteRetina;
@hoozinBtAddStickyImageOpacity: 20;
@hoozinBtAddStickyImageOpacityHover: 50;
@hoozinBtRemoveStickyImage: @hoozinColorSprite;
@hoozinBtRemoveStickyImageRetina: @hoozinColorSpriteRetina;
@hoozinBtRemoveStickyImageOpacity: 100;
@hoozinBtRemoveStickyImageOpacityHover: 60;
@hoozinBtMoreImage: @hoozinBlackSprite;
@hoozinBtMoreImageRetina: @hoozinBlackSpriteRetina;
@hoozinBtMoreImageOpacity: 20;
@hoozinBtMoreImageOpacityHover: 50;
@hoozinReactionsPluginsIconImage: @hoozinBlackSprite;
@hoozinReactionsPluginsIconImageRetina: @hoozinBlackSpriteRetina;
@hoozinReactionsPluginsIconActiveImage: @hoozinColorSprite;
@hoozinReactionsPluginsIconActiveImageRetina: @hoozinColorSpriteRetina;
@hoozinReactionsPluginsIconOpacity: 15;
@hoozinReactionsPluginsIconOpacityHover: 60;
@hoozinReactionsPluginsIconOpacityActive: 100;
@hoozinReactionsPluginsIconOpacityActiveHover: 100;
@hoozinCommentActionsBtImage: @hoozinBlackSprite;
@hoozinCommentActionsBtImageRetina: @hoozinBlackSpriteRetina;
@hoozinCommentActionsBtImageActive: @hoozinColorSprite;
@hoozinCommentActionsBtImageActiveRetina: @hoozinColorSpriteRetina;
@hoozinCommentActionsBtOpacity: 30;
@hoozinCommentActionsBtOpacityHover: 60;
@hoozinCommentActionsBtOpacityActive: 100;
@hoozinCommentActionsBtOpacityActiveHover: 100;
@hoozinAddcommentZoneBtImage: @hoozinBlackSprite;
@hoozinAddcommentZoneBtImageRetina: @hoozinBlackSpriteRetina;
@hoozinAddcommentZoneBtImageOpacity: 25;
@hoozinAddcommentZoneBtImageOpacityHover: 50;
@hoozinCornerVisualBgImage: @hoozinColorSprite;
@hoozinCornerVisualBgImageRetina: @hoozinColorSpriteRetina;
@hoozinCornerVisualLinkBgImage: @hoozinWhiteSprite;
@hoozinCornerVisualLinkBgImageRetina: @hoozinWhiteSpriteRetina;
@hoozinCornerVisualLinkBgImageOpacity: 80;
@hoozinCornerVisualLinkBgImageOpacityHover: 100;

// TAG
@hoozinTagBgColor: #bcbcbc;
@hoozinTagBeforeBgImage: '/_layouts/15/images/Prexens/Hoozin/tag-before.png?v=1002';
@hoozinTagBeforeBgImageRetina: '/_layouts/15/images/Prexens/Hoozin/tag-before-x2.png?v=1002';
@hoozinTagBeforeBgImageActive: '/_layouts/15/images/Prexens/Hoozin/tag-before-active.png?v=1002';
@hoozinTagBeforeBgImageActiveRetina: '/_layouts/15/images/Prexens/Hoozin/tag-before-active-x2.png?v=1002';
@hoozinTagBgColorActive: @hoozinMainColor;
@hoozinTagLinkColor: @white;
@hoozinTagLinkColorHover: @white;
@hoozinTagLinkColorActive: @white;
@hoozinTagLinkColorActiveHover: @white;
@hoozinTagBgNumberColor: darken(@hoozinTagBgColor, 10%);

// POPUP LIKER/COMMENTER
@hoozinActorPopupBgColor: @hoozinContentTextBackground;
@hoozinActorPopupBgColorHover: @white;
@hoozinActorPopupBorderColor: @hoozinGraySuperLight;
@hoozinActorPopupBorderTopColor: @white;
@hoozinActorPopupLinkColor: @hoozinDarkGray;

// BOX PAGES (LOGIN PASSWORD...)
@hoozinLoginPageBodyImageUrl : '/_layouts/15/images/EucouncilRed/Hoozin/boxPage/background-main.jpg?v=1002';
@hoozinBoxPageLogo : '/_layouts/15/images/EucouncilRed/Hoozin/boxPage/Logo.png?v=1003';
@hoozinBoxPageLogoRetina : '/_layouts/15/images/EucouncilRed/Hoozin/boxPage/Logo-x2.png?v=1003';

// OVERRIDES JQUERY UI
@hoozinUiStateFocusColor : @hoozinMainColor;
@hoozinUiStateFocusBgColor : @hoozinDarkGray;

// POST ZONE
@hoozinpostButtonImage: @hoozinWhiteSprite;
@hoozinpostButtonImageRetina: @hoozinWhiteSpriteRetina;

// ################################################### //
// DO NOT TOUCH UNDER THIS LINE !

@sansFontFamily:        Tahoma,  Helvetica-Light, arial;

@xxxlWidth: 1780px;
@xxlWidth: 1540px;
@xlWidth: 1180px;
@lWidth: 980px;
@mWidth: 748px;
@sWidth: 640px;
@xsWidth: 480px;
@xxsWidth: 360px;
@xxxsWidth: 320px;

@headerHeight: 50px;
@headerHeightMobile : 40px;
@mainNavWidth: 263px;
@mainNavLWidth: 130px;
@mainNavMWidth: 100px;
@contextWidth: 252px;
@contextMediumWidth: 212px;
@contentZonePadding: 13px;
@notificationCenterWidth: 358px;
@chatWidth: 358px;
@subNavLWidth: 40px;
@subNavMWidth: 40px;

/*
@contentWrapperWidth: @notificationCenterWidth + @mainNavWidth;
@contentZoneWidth: @notificationCenterWidth + @mainNavWidth + @contextWidth;
@contextZoneMarginLeft: @notificationCenterWidth + @mainNavWidth + @contextWidth;
@postBoxWidth: @contentZoneWidth;
@aFeedWidth: @contentZoneWidth + 134;
@aFeedCommentWidth: @contentZoneWidth + 212;
*/

/* Submenus Grays */


/* Fonts */
@fontFamily:  @sansFontFamily;



// Variables BOOTSTRAP
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        transparent;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             @hoozinLinkColor;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          12px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        16px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      0px;
@borderRadiusLarge:     0px;
@borderRadiusSmall:     0px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #E5E5E5; // table and cell border

// Buttons
// -------------------------
@btnColor:													@hoozinBtnColor;
@btnBackground:                     @hoozinBtnBackground;
@btnBackgroundHighlight:            @hoozinBtnBackground;
@btnBorder:                         @hoozinBtnBorder;

@btnPrimaryColor:										@hoozinBtnPrimaryColor;
@btnPrimaryBackground:              @hoozinBtnPrimaryBackground;
@btnPrimaryBackgroundHighlight:     @hoozinBtnPrimaryBackground;

@btnValidationColor:								@hoozinBtnValidationColor;
@btnValidationBackground:           @hoozinBtnValidationBackground;
@btnValidationBackgroundHighlight:  @hoozinBtnValidationBackground;

@btnInfoColor:											@hoozinBtnInfoColor;
@btnInfoBackground:                 @hoozinBtnInfoBackground;
@btnInfoBackgroundHighlight:        @hoozinBtnInfoBackground;

@btnSuccessColor:										@hoozinBtnSuccessColor;
@btnSuccessBackground:              @hoozinBtnSuccessBackground;
@btnSuccessBackgroundHighlight:     @hoozinBtnSuccessBackground;

@btnWarningColor:										@hoozinBtnWarningColor;
@btnWarningBackground:              @hoozinBtnWarningBackground;
@btnWarningBackgroundHighlight:     @hoozinBtnWarningBackground;

@btnDangerColor:										@hoozinBtnDangerColor;
@btnDangerBackground:               @hoozinBtnDangerBackground;
@btnDangerBackgroundHighlight:      @hoozinBtnDangerBackground;

@btnInverseColor:										@hoozinBtnInverseColor;
@btnInverseBackground:              @hoozinBtnInverseBackground;
@btnInverseBackgroundHighlight:     @hoozinBtnInverseBackground;

// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   @hoozinGrayBorder;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "/_layouts/15/images/Prexens/Hoozin/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/_layouts/15/images/Prexens/Hoozin/bootstrap/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  #f5f5f5;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);

// Manually corrections

/* ############################## */
/* M > 768px && < 984px */
/* ############################## */

@media screen and (min-width: 768px) and (max-width: 984px) {
    .ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url('/_layouts/15/images/EucouncilRed/Hoozin/jquery-ui/ui-icons_256x240.png'); }
    #mainNavWrapper #currentNav .subNavUl { border-left: 1px solid @hoozinBorderSectionNavColor; }
}


/* ############################## */
/* L > 985px && < 1240px >  STANDARD RESOLUTION */
/* ############################## */

@media screen and (min-width: 985px) and (max-width: 1239px) {
    .ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url('/_layouts/15/images/EucouncilRed/Hoozin/jquery-ui/ui-icons_256x240.png'); }
    #mainNavWrapper #currentNav .subNavUl { border-left: 1px solid @hoozinBorderSectionNavColor; }
}
